CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
build*
example/
*.mo
*.cmake
*.vs
exe-win32/radar_pi.dir
exe-win32/x64/
exe-win32/radar.dir/
lib-linux
exe-win32/Debug
exe-win32/radar.log
exe-linux/
exe-oc_dp
